<div class="d-flex justify-content-center mt-5 ml-5 mr-5">
  <div class="d-flex align-items-center flex-column">
    <h1>Loot</h1>
    <%= render 'loot/shared/form' %>
    <p>Generated loot:</p>
    <%= render 'loot/shared/coins' %>
  </div>
</div>
