<div class="d-flex justify-content-center mt-5 ml-2 mr-2">
  <div class="d-flex align-items-center flex-column">
    <h1>Loot</h1>
    <%= render 'loot/shared/form' %>
    <%= render 'loot/shared/coins' %>
    <%= render 'loot/shared/gems' %>
    <%= render 'loot/shared/art_objects' %>
  </div>
</div>
