<div class="d-flex align-items-center flex-column">
  <a
    href="<%= github_url %>"
    class="mt-5 fa fa-github"
    target="_blank"
    rel="noopener noreferrer"
  >
  </a>
  <div class="mt-1">
    <p class="small">This website is based on the data from <a target="_blank" href="<%= dm_toos_url %>">dungeonmastertools</a></p>
  </div>
</div>
